{% load url from future %}

<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" href="/static/style.css" />
	</head>
	<body>
		<div class="container">
			<div class="head">
				<ul class="nav nav-pills pull-right">
					{% if request.user.is_authenticated %}
					<li class="disabled">
						<a href="#" class="disabled">{{ user.username }}</a>
					</li>
					<li class="active">
						<a href="{% url 'django.contrib.auth.views.logout' %}">ログアウト</a>
					</li>
					{% else %}
					<li class="active">
						<a href="{% url 'system_scan.scan.views.custom_login' %}">ログイン</a>
					</li>
					{% endif %}
				</ul>
				<h1><a class="logo" href="{% url 'system_scan.scan.views.index' %}">System Scan</a></h1>
			</div>
			<hr />
			<div class="main">
				{% block main %}
				{% endblock %}
			</div>
		</div>
	</body>
</html>
