body {
    padding-top: 20px;
    padding-bottom: 40px;
}

header {
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 20px;
    padding-bottom: 10px;
    position: relative;
}

header>h1 {
    float: left;
}

header>ul {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -20px;
}

header>ul>li {
    margin-left: 5px;
}

#user-info>a {
    display: block;
    height: 40px;
    margin: 0;
    padding: 0;
}

#big-icon {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 4px;
    border: 1px solid #eeeeee;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);
}

#profile_list {
    list-style-position: inside;
    padding-left: 320px;
    font-size: 17px;
}

#profile_list>li {
    margin-top: 6px;
}

#icon-message {
    clear: both;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

a.logo {
    color: #000000;
    text-decoration: none;
}

a.btn {
    margin-left: 5px;
    margin-right: 5px;
}

.light {
    color: #999999;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
}

.form th {
    padding: 12px;
}

.problem {
}

.problem {
    padding: 5px;
}

.problem .statement p {
    font-size: 20px;
}

.problem .statement pre {
    margin: 10px;
}

.problem .answer {
    margin-left: 20px;
    margin-top: 20px;
}

.problem .answer ul {
    list-style: none;
    margin: 0;
}

.problem .answer ul.errorlist {
    list-style: disc;
}

.problem .answer li {
    margin-bottom: 10px;
}

.problem .answer input[type="radio"], input[type="checkbox"] {
    vertical-align: 2px;
}

.problem .answer textarea {
    width: 600px;
}

.problem .button {
    margin-left: 10px;
    margin-top: 20px;
}
