body {
    padding-top: 20px;
    padding-bottom: 40px;
}

header {
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 20px;
    padding-bottom: 10px;
    position: relative;
}

header>h1 {
    float: left;
    margin-right: 20px;
}

header>h1>a:hover, header>h1>a:focus {
    color: #777777;
}

header>h2 {
    font-size: 20px;
}

header>ul {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -20px;
}

header>ul>li {
    margin-left: 5px;
}

#user-info>a {
    display: block;
    height: 40px;
    margin: 0;
    padding: 0;
}

#user-info>a>p {
    display: block;
    margin-top: 2px;
    margin-left: 5px;
    margin-right: 2px;
    padding: 8px 12px;;
    line-height: 14px;
    border-radius: 5px;
}

#user-info>a:hover, #user-info>a:focus {
    background: none;
}

#user-info>a:hover>p, #user-info>a:focus>p {
    background-color: #eeeeee;
}

#user-info>a>* {
    float: left;
}

#top-slider {
    margin: 0 auto;
}

#top-slider ul, #top-slider li {
    margin: 0;
    padding: 0;
    list-style: none;
}

#top-slider li {
    display: block;
    width: 900px;
    height: 410px;
    margin: 0 auto;
    overflow: hidden;
}

#controls>li.current {
    background-image: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15) inset, 0px 1px 2px rgba(0, 0, 0, 0.05);
}

#big-icon {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 4px;
    border: 1px solid #eeeeee;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);
}

#profile_list {
    list-style-position: inside;
    padding-left: 320px;
    font-size: 17px;
}

#profile_list>li {
    margin-top: 6px;
}

#icon-message {
    clear: both;
}

#edit-problem ul {
    list-style-type: none;
}

#edit-problem ul.errorlist {
    list-style: disc;
}

#edit-problem #action-buttons {
    margin-top: 20px;
    margin-left: 0;
}

#edit-problem #id_option, #edit-problem #id_result,
#edit-problem label[for="id_option"], #edit-problem label[for="id_result"] {
    display: none;
}

#edit-problem textarea {
    width: 600px;
}

#choices {
    margin-bottom: 3px;
}

#choices>thead {
    margin-bottom: 2px;
}

#choices input {
    margin: 0;
}

#choices td {
    text-align: center;
    vertical-align: middle;
    padding: 3px;
}

#add-choice {
    margin-left: 60px;
}

.remove-choice {
    margin-top: 1px;
    margin-left: 5px;
}

#figure-list {
    list-style: none;
}

#figure-list>li {
    float: left;
    display: block;
    max-width: 400px;
}

#figure-list figcaption {
    text-align: center;
    margin-top: 10px;
}

#figure-list>li {
    text-align: center;
}

#figure-manage>input {
    margin-left: 60px;
}

#figure-manage>a {
    display: none;
}

#delete-figure li {
    margin: 5px;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

a.logo {
    color: #000000;
    text-decoration: none;
}

a.btn {
    margin-left: 5px;
    margin-right: 5px;
}

.light {
    color: #999999;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
}

.form th {
    padding: 12px;
}

.problem {
}

.problem {
    padding: 5px;
}

.problem .statement p {
    font-size: 20px;
}

.problem .statement pre {
    margin: 10px;
}

.problem .answer {
    margin-left: 20px;
    margin-top: 20px;
}

.problem .answer ul {
    list-style: none;
    margin: 0;
}

.problem .answer ul.errorlist {
    list-style: disc;
}

.problem .answer li {
    margin-bottom: 10px;
}

.problem .answer li.suggested {
    color: #ff0000;
}

.problem .answer input[type="radio"], input[type="checkbox"] {
    vertical-align: 2px;
}

.problem .answer textarea {
    width: 600px;
}

.problem .button {
    margin-left: 10px;
    margin-top: 20px;
}

.problem .button input[type="submit"] {
    margin-left: 5px;
    margin-right: 5px;
}

.problem .point {
    margin-left: 10px;
    margin-top: 10px;
}

.score-distribution {
    position: relative;
    float: left;
    width: 350px;
}

.score-distribution>svg {
    position: absolute;
}

.score-distribution>table {
    display: block;
    position: absolute;
    height: 900px;
    width: 300px;
    z-index: 1;
}

.score-distribution>table>thead {
    display: none;
}

.score-distribution>table>tbody>tr {
    display: block;
    min-width: 150px;
    position: absolute;
    margin-left: 110px;
    background: linear-gradient(to bottom, #e6e6e6, #cccccc);
    height: 30px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.4);
}

.score-distribution>table>tbody>tr>td {
    white-space: nowrap;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
}

.score-distribution>table>tbody>tr>td:nth-of-type(1) {
    height: 40px;
    padding: 2px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);
    background: #ffffff;
    position: absolute;
    top: -7px;
}

.score-distribution>table>tbody>tr>td:nth-of-type(2) {
    padding-left: 52px;
}

.score-distribution .meter-list {
    list-style: none;
    position: absolute;
    margin: 0;
    z-index: 0;
}

.score-distribution .meter-list li {
    background: url('./img/detail-ranking-bg.svg');
    text-indent: -9999px;
    height: 35px;
    width: 20px;
    position: absolute;
    margin-left: 95px;
}

.contest-result-summary, .percentage-of-correct-answers {
    margin-left: 320px;
}

.contest-result-summary>ul{
    margin-top: 20px;
    margin-bottom: 20px;
    list-style: none;
}

.contest-result-summary>ul>li {
    margin-top: 20px;
    font-size: 1.5em;
    line-height: 1.6em;
}

.contest-result-summary>ul>li>img {
    vertical-align: middle;
}

.category-summary>div.progress {
    float: left;
}

.category-summary>div.progress+p {
    text-indent: 1.0em;
    padding: 5px;
}

.category-summary>table {
    vertical-align: middle;
    width: 100px;
}

.category-summary>table tr>td {
    padding: 2px 4px;
}

.category-summary>table tr>td:nth-of-type(1) {
    width: 35px;
}

.category-summary>table tr>td:nth-of-type(2) {
    min-width: 180px;
}

.percentage-of-correct-answers .progress {
    margin: 5px;
}

.percentage-of-correct-answers i.category {
    margin-right: 5px;
}

.percentage-of-category {
    margin-left: 10px;
}

.author-box {
    float: right;
    border: 1px solid #0088cc;
    border-radius: 4px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);
}

.author-box>h3 {
    font-size: 1.2em;
    line-height: 1.2em;
    background: #0088cc;
    color: #ffffff;
    padding: 5px 10px;
    margin: 0;
}

.author-box>p {
    line-height: 50px;
    margin: 0;
}

.author-box>p>img {
    float: left;
}

.comment {
    margin: 20px 0;
}

.comment>img {
    float: left;
    padding: 2px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);
    background: #ffffff;
}

.comment>div {
    margin-left: 70px;
    border: 1px solid #0088cc;
    border-radius: 4px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.4);
}

.comment>div>h4 {
    background: #0088cc;
    color: #ffffff;
    padding: 5px 10px;
    margin: 0;
}

.comment-block>div>h4>span:nth-of-type(2) {
    float: right;
}

.comment-block>div>div {
    padding: 10px;
}

.comment-new>div {
    text-align: right;
}

.comment-new>div>h4 {
    text-align: left;
}

.comment-new>div>div {
    margin: 10px;
}

.comment-new>div>div>textarea {
    margin: 0;
    padding: 0;
    width: 100%;
}

.comment-new>div>p {
    float: left;
    text-align: left;
    margin-left: 10px;
}

.comment-new>div>input {
    margin-right: 10px;
    margin-bottom: 10px;
}

.horizontal>* {
    float: left;
    list-style-type: none;
}

.errorlist {
    color: #c09853;
    padding: 8px 35px 8px 30px;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    border-radius: 4px;
}

.table td {
    vertical-align: middle;
    white-space: nowrap;
}
