body {
	padding-top: 20px;
	padding-bottom: 40px;
}

a.disabled {
	pointer-events: none;
	cursor: default;
}

a.logo {
	color: #000000;
	text-decoration: none;
}

.container {
	magrin: 0 auto;
	max-width: 1000px;
}

.form th {
	padding: 12px;
}
