{% extends 'template.html' %}
{% load url from future %}
{% load i18n %}

{% block main %}
<h2><a href="{% url 'scan.views.contests.index' contest.id %}">{{ contest.name }}</a>: {% trans '設定' %}</h2>
<div class="tabbable">
    {% include 'settings/tab.html' %}
    <div class="tab-content">
        <div class="tab-pane active" id="generic">
            <form method="post">
                {% csrf_token %}
                <table class="form">
                    {{ form }}
                    <tr>
                        <th></th>
                        <td>
                            <input type="submit" class="btn btn-primary" value="{% trans '更新' %}" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
{% endblock %}
