{% extends "template.html" %}
{% load url from future %}
{% load i18n %}

{% block main %}
<form method="post">
    {% csrf_token %}
    <table class="form">
        {{ form }}
        <tr>
            <th></th>
            <td>
                <input type="submit" class="btn btn-primary" value="{% trans "作成" %}" />
                <a href="{% url 'scan.views.index' %}" class="btn">{% trans "戻る" %}</a>
            </td>
        </tr>
    </table>
    <input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock %}
