{% extends "template.html" %}
{% load url from future %}
{% load i18n %}

{% block main %}
<div class="tabbable">
    <ul class="nav nav-tabs">
        <li>
            <a href="{% url 'scan.views.settings.contest' contest_id %}">{% trans "一般設定" %}</a>
        </li>
        <li>
            <a href="{% url 'scan.views.settings.genre' contest_id %}">{% trans "問題設定" %}</a>
        </li>
        <li class="active">
            <a href="#" class="disabled">{% trans "ユーザー設定" %}</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="generic">
            <table class="table table-striped">
                <tr>
                    <th>{% trans "ユーザー名" %}</th>
                    <th>{% trans "名前" %}</th>
                    <th></th>
                </tr>
                {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.last_name }} {{ user.first_name }}</td>
                    <td>
                        <a href="{% url 'scan.views.settings.user_del' contest_id user.id %}" class="btn btn-danger">{% trans "削除" %}</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            <a href="{% url 'scan.views.settings.user_add' contest_id %}" class="btn btn-primary">{% trans "追加" %}</a>
        </div>
    </div>
{% endblock %}
