{% extends "template.html" %}
{% load url from future %}
{% load i18n %}

{% block main %}
<div class="tabbable">
    <ul class="nav nav-tabs">
        <li>
            <a href="{% url 'scan.views.contests.settings' contest_id 'contest' %}">{% trans "一般設定" %}</a>
        </li>
        <li>
            <a href="{% url 'scan.views.contests.settings' contest_id 'genre' %}">{% trans "問題設定" %}</a>
        </li>
        <li class="active">
            <a href="#" class="disabled">{% trans "ユーザー設定" %}</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="generic">
            <form method="post">
                {% csrf_token %}
                <table class="form">
                    {{ form }}
                    <tr>
                        <th></th>
                        <td>
                            <input type="submit" class="btn btn-primary" value="{% trans "追加" %}" />
                            <a href="{% url 'scan.views.contests.settings' contest_id 'user' %}" class="btn">{% trans "戻る" %}</a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
{% endblock %}
