{% extends 'template.html' %}
{% load url from future %}
{% load i18n %}
{% load markdown_deux_tags %}
{% load gravatar %}

{% block main %}
<script type="text/javascript" src="{{ STATIC_URL }}problem.js"></script>
<h2><a class="title" href="{% url 'scan.views.contests.index' contest.id %}">{{ contest.name }}</a> > <a class="title" href="{% url 'scan.views.problems.index' contest.id genre.id %}">{{ genre.name }}</a></h2>
{% if not is_edit %}
<p>{% trans '図の挿入は一度問題を作成した後、再度編集した時に可能になります。' %}</p>
{% else %}
<div class="author-box">
<h3>{% trans '作成者' %}</h3>
{% if problem.author %}
<p><img alt="icon" width="50" height="50" src="{% middle_gravatar_url problem.author.email %}" /> {{ problem.author.last_name }} {{ problem.author.first_name }} ({{ problem.author.username }})</p>
{% else %}
<p class="text-center">{% trans '未設定' %}</p>
{% endif %}
</div>
{% endif %}
<form method="POST" id="edit-problem">
    {% csrf_token %}
    {{ form.as_p }}
    <ul id="action-buttons" class="horizontal clearfix">
        {% if is_edit %}
        <li><input type="submit" class="btn btn-primary" value="{% trans '変更' %}" /></li>
        {% else %}
        <li><input type="submit" class="btn btn-primary" value="{% trans '追加' %}" /></li>
        {% endif %}
        <li><a href="{% url 'scan.views.problems.index' contest.id genre.id %}" class="btn btn-default">{% trans '戻る' %}</a></li>
        <li><input type="button" class="btn btn-info" value="{% trans '保存してプレビュー' %}" onclick="saveAndPreview()" /></li>
    </ul>
</form>
{% if is_edit %}
<div id="figure-manage">
    <p>{% trans '図' %}:</p>
    <ul id="figure-list" class="clearfix">
        {% for figure in figures %}
        <li>
            <figure>
                <img class="figure-image" src="{{ figure.graphics.url }}" alt="{{ figure.caption }}" />
                <img class="figure-expand" src="{{ STATIC_URL }}img/expand.svg" alt="拡大ボタン" onclick="showFigureDialog(this)" />
                <figcaption>{{ figure.caption }}</figcaption>
                <input class="btn btn-danger" type="button" onclick="openDeleteFigureDialog('{% url 'scan.views.problems.delete_figure' contest.id genre.id problem.id figure.id %}')" value="{% trans '削除' %}" />
            </figure>
            <p class="hidden">{{ figure.id }}</p>
        </li>
        {% endfor %}
    </ul>
    <input type="hidden" name="figure-sequence" />
    <input class="btn btn-default" type="button" onclick="openAddFigureDialog()" value="{% trans '図を追加する' %}" />
    <a href="{% url 'scan.views.problems.get_figures' contest.id genre.id problem.id %}">図の読み込み(JSON)</a>
</div>
<form action="{% url 'scan.views.problems.add_figure' contest.id genre.id problem.id %}" enctype="multipart/form-data" method="POST" id="add-figure">
    {% csrf_token %}
    {{ figure_form.as_p }}
    <input type="submit" class="btn btn-primary" value="{% trans '追加' %}" />
</form>
<div id="delete-figure">
    <p>{% trans '本当に画像を消していいですか?' %}</p>
    <ul class="horizontal clearfix">
        <li><input type="button" class="btn btn-danger" id="delete-figure-button" value="{% trans '削除' %}" /></li>
        <li><input type="button" class="btn btn-default" onclick="closeDeleteFigureDialog()" value="{% trans '戻る' %}" /><li>
    </ul>
</div>
<h3>{% trans 'コメント' %}</h3>
{% if comments and not comments|length_is:"0" %}
{% for comment in comments %}
<div class="comment comment-block">
<img alt="icon" width="50" height="50" src="{% middle_gravatar_url comment.user.email %}" />
<div>
<h4>
<span>{{ comment.user.last_name }} {{ comment.user.first_name }} ({{ comment.user.username }})</span>
<span>{{ comment.datetime }}</span>
</h4>
<div>{{ comment.body|markdown:"safe" }}</div>
</div>
</div>
{% endfor %}
{% else %}
<p>{% trans 'コメントはありません。' %}</p>
{% endif %}
<form action="{% url 'scan.views.problems.post_comment' contest.id genre.id problem.id %}" method="POST" class="comment comment-new">
{% csrf_token %}
<img alt="icon" width="50" height="50" src="{% middle_gravatar_url user.email %}" />
<div>
<h4>{% trans '新規コメント' %}</h4>
<div>
{{ comment_form.body }}
</div>
<p>{% trans 'Markdownを使用できます。' %}</p>
<input type="submit" class="btn btn-primary clearfix" value="{% trans '投稿' %}" />
</div>
</form>
{% endif %}
{% endblock %}
