{% extends 'template.html' %}
{% load url from future %}
{% load i18n %}

{% block main %}
<script type="text/javascript" src="{{ STATIC_URL }}figure.js"></script>
{% if is_preview %}
<h2><a class="title" href="{% url 'scan.views.contests.index' contest.id %}">{{ contest.name }}</a> > <a class="title" href="{% url 'scan.views.problems.index' contest.id genre.id %}">{{ genre.name }}</a></h2>
{% else %}
<h2><a class="title" href="{% url 'scan.views.contests.index' contest.id %}">{{ contest.name }}</a> > {{ genre.name }}</h2>
{% endif %}
<div class="problem">
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="statement">
            {% if is_preview %}
            <p>Q: {{field.label}}</p>
            {% else %}
            <p>Q{{ problem_id }}: {{field.label}}</p>
            {% endif %}
            <pre>{{ field.help_text }}</pre>
        </div>
        {% if figures|length > 0 %}
        <div class="figures">
            <ul id="figure-list" class="clearfix">
                {% for figure in figures %}
                <li>
                    <figure onclick="showFigureDialog(this)">
                        <img src="{{ figure.graphics.url }}" alt="{{ figure.caption }}" />
                        <figcaption>{{ figure.caption }}</figcaption>
                    </figure>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div class="answer">
            {% if field.errors %}
            {{ field.errors }}
            {% endif %}
            {{ field }}
        </div>
        {% endfor %}
        <div class="button">
        {% if is_preview %}
            <a href="{% url 'scan.views.problems.edit' contest.id genre.id problem.id %}" class="btn">{% trans '編集画面に戻る' %}</a>
        {% else %}
            <input class="btn btn-primary" type="submit" value="{% trans '送信' %}" />
            {% if previous != None %}
            <a class="btn btn-inverse" href="{% url 'scan.views.contests.answer' contest.id genre.id previous %}">{% trans '前の問題に戻る' %}</a>
            {% endif %}
            <a href="{% url 'scan.views.contests.index' contest.id %}" class="btn">{% trans '一覧に戻る' %}</a>
        {% endif %}
        </div>
    </form>
</div>
{% endblock %}
