{% extends 'template.html' %}
{% load url from future %}
{% load i18n %}
{% load gravatar %}

{% block main %}
<h2><a class="title" href="{% url 'scan.views.contests.index' contest.id %}">{{ contest.name }}</a> > {% trans 'ランキング' %}</h2>
<div class="pull-right">
    {% if unmarked == 0 %}
    <h4>{% trans '採点終了' %}</h4>
    <p><a class="btn btn-info" href="{% url 'scan.views.contests.detail' contest.id %}">{% trans '結果詳細' %}</a></p>
    {% else %}
    <h4>{% trans '採点中' %}</h4>
    {% endif %}
</div>
<h3>{{ contest.start }} - {{ contest.end }}</h3>
<table class="table table-striped">
    <tr>
        <th>{% trans '順位' %}</th>
        <th>{% trans '名前' %}</th>
        {% for genre in genres %}
        <th>{{ genre.name }}<br />({% trans '配点' %}:{{ genre.max_score }})</th>
        {% endfor %}
        <th>{% trans '合計' %}</td>
    </tr>
    {% for rank in ranking %}
    <tr>
        <td>{{ rank.index }}</td>
        <td>{{ rank.user.last_name }} {{ rank.user.first_name }}</td>
        {% for id in genre_id %}
        {% for score in rank.score %}
        {% if score.0 == id %}
        <td>{{ score.1 }}</td>
        {% endif %}
        {% endfor %}
        {% endfor %}
        <td>{{ rank.total }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
