{% load url from future %}
{% load i18n %}
{% load gravatar %}
<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" href="{{ STATIC_URL }}img/favicon.svg" sizes="any" type="image/svg+xml" />
        <link rel="icon" href="{{ STATIC_URL }}img/favicon.png" sizes="640x640" type="image/png" />
        <link rel="icon" href="{{ STATIC_URL }}img/favicon.ico" sizes="16x16" type="image/vnd.microsoft.icon" />
        <link rel="stylesheet" href="{{ STATIC_URL }}jquery/flick/jquery-ui.min.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}style.css" />
        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery-ui-1.10.3.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery-ui-timepicker-addon.js"></script>
        <title>{% trans 'System Scan' %}{% if subtitles %}{% for subtitle in subtitles %} - {{ subtitle }}{% endfor %}{% endif %}</title>
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
            <header class="head clearfix">
                <h1><a class="title" href="{% url 'scan.views.index' %}">{% trans 'System Scan' %}</a></h1>
                {% if subtitles %}
                <h2>{{ subtitles.0 }}</h2>
                {% endif %}
                <ul class="nav nav-pills pull-right">
                    {% if request.user.is_authenticated %}
                    <li id="user-info">
                        <a href="{% url 'scan.views.accounts.profile' %}">
                            <img alt="icon" width="40" height="40" src="{% gravatar_url user.email %}" />
                            <p>{{ user.username }}</p>
                        </a>
                    </li>
                    {% if request.user.is_staff %}
                    <li>
                        <a href="{% url 'scan.views.admin.index' %}">{% trans 'サイト設定' %}</a>
                    </li>
                    {% endif %}
                    <li class="active">
                        <a href="{% url 'django.contrib.auth.views.logout' %}">{% trans 'ログアウト' %}</a>
                    </li>
                    {% else %}
                    <li class="active">
                        <a href="{% url 'scan.views.accounts.login' %}">{% trans 'ログイン' %}</a>
                    </li>
                    {% endif %}
                </ul>
            </header>
            <div class="main">
                {% block main %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
