{% extends 'template.html' %}
{% load url from future %}
{% load i18n %}

{% block main %}
<script type="text/javascript" src="{{ STATIC_URL }}problem.js"></script>
<form method="POST" id="edit-problem">
    {% csrf_token %}
    {{ form.as_p }}
    <ul id="action-buttons" class="horizontal clearfix">
        {% if form.is_bound %}
        <li><input type="submit" class="btn btn-primary" value="{% trans '変更' %}" /></li>
        {% else %}
        <li><input type="submit" class="btn btn-primary" value="{% trans '追加' %}" /></li>
        {% endif %}
        <li><a href="{% url 'scan.views.problems.index' contest_id genre_id %}" class="btn">{% trans '戻る' %}</a></li>
    </ul>
</form>

{% endblock %}
