{% extends 'template.html' %}
{% load url from future %}
{% load i18n %}

{% block main %}
<h2>{{ contest.name }}: {{ genre.name }}</h2>
<div class="problem">
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="statement">
            <p>Q{{ problem_id }}: {{field.label}}</p>
            <pre>{{ field.help_text }}</pre>
        </div>
        {% if figures|length > 0 %}
        <div class="figures">
            <ul id="figure-list" class="clearfix">
                {% for figure in figures %}
                <li>
                    <figure>
                        <img src="{{ figure.graphics.url }}" alt="{{ figure.caption }}" />
                        <figcaption>{{ figure.caption }}</figcaption>
                    </figure>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div class="answer">
            {% if field.errors %}
            {{ field.errors }}
            {% endif %}
            {{ field }}
        </div>
        {% endfor %}
        <div class="button">
            <input class="btn btn-primary" type="submit" value="{% trans '送信' %}" />
            {% if previous != None %}
            <a class="btn btn-inverse" href="{% url 'scan.views.contests.answer' contest.id genre.id previous %}">{% trans '前の問題に戻る' %}</a>
            {% endif %}
            <a href="{% url 'scan.views.contests.index' contest.id %}" class="btn">{% trans '一覧に戻る' %}</a>
        </div>
    </form>
</div>
{% endblock %}
