{% extends 'template.html' %}
{% load url from future %}
{% load i18n %}
{% load gravatar %}

{% block main %}
<script type="text/javascript" src="{{ STATIC_URL }}detail.js"></script>
<h2>{{ contest.name }}: {% trans '結果詳細' %}</h2>
<h3>{{ contest.start }} - {{ contest.end }}</h3>
<div class="score-distribution">
<input id="summary-max-score" type="hidden" value="{{ summary.max_score }}" />
<svg width="300" height="900" version="1.1" xmlns="http://www.w3.org/2000/svg">
{% for line in ranking_svg.lines %}
<line x1="{{ line.0 }}" y1="{{ line.1 }}" x2="{{ line.2 }}" y2="{{ line.1 }}" stroke="#888888" stroke-width="0.5px" />
{% endfor %}
{% for line in ranking_svg.bold_lines %}
<line x1="{{ line.0 }}" y1="{{ line.1 }}" x2="{{ line.2 }}" y2="{{ line.1 }}" stroke="#111111" stroke-width="1px" />
<text x="10" y="{{ line.1 }}">{{ line.3 }}</text>
{% endfor %}
</svg>
<table>
<thead>
<tr><th>{% trans '順位' %}</th><th>{% trans 'アイコン' %}</th><th>{% trans '名前' %}</th><th>{% trans '点数' %}</th></tr>
</thead>
<tbody>
{% for user in ranking %}
<tr><td>{{ user.0 }}</td><td><img alt="icon" width="40" height="40" src="{% gravatar_url user.1.email %}" /></td><td>{{ user.1.last_name }} {{ user.1.first_name }}</td><td>{{ user.1.total }}</td></tr>
{% endfor %}
</tbody>
</table>
</div>
<div class="contest-result-summary">
<h4>{% trans '概要' %}</h4>
<ul>
<li>{% trans '平均点' %}: <span class="big-2em">{{ summary.average }} {% trans '点' %}/</span>{{ summary.max_score }}{% trans '点満点' %}</li>
<li>{% trans '標準偏差' %}: <span class="big-2em">{{ summary.standard_deviation }}</span></li>
<li>{% trans '最優秀者' %}: <span class="big-2em"><img alt="icon" width="100" height="100" src="{% middle_gravatar_url user.email %}" /> {{ ranking.0.1.last_name }} {{ ranking.0.1.first_name }}</span> {{ ranking.0.1.total }}{% trans '点' %}</li>
</ul>
</div>
<div class="percentage-of-correct-answers">
<h4>{% trans '正答率' %}<h4>
<p>実装中</p>
<ul>
{% for problem in problems %}
<li>{{ problem.percentage }}</li>
{% endfor %}
</ul>
</div>
{% endblock %}
