{% extends 'template.html' %}
{% load url from future %}
{% load i18n %}

{% block main %}
{% if now > contest.end %}
<div class="pull-right">
    <h3>{% trans '合計' %}: {{ total }}{% trans '点' %}</h3>
</div>
{% endif %}
<h2>{{ contest.name }}</h2>
{% if request.user.is_staff %}
<p class="float-right"><a href="{% url 'scan.views.settings.index' contest.id %}" class="btn">{% trans 'コンテスト設定' %}</a></p>
{% endif %}
<h3>{{ contest.start }} - {{ contest.end }}</h3>
<h4>{{ contest.get_state }}</h4>
<table class="table table-striped">
    <tr>
        <th>{% trans 'ジャンル' %}</th>
        {% if request.user.is_staff or request.user in users %}
        <th>{% trans '問題数' %}</th>
        {% elif now > contest.start %}
        <th>{% trans '回答済み'%} / {% trans '全問題' %}</th>
        {% endif %}
        {% if now > contest.end %}
        <th>合計得点</th>
        {% endif %}
        <th></th>
    </tr>
    {% for genre in genres %}
    <tr>
        <td>{{ genre.genre.name }}</td>
        {% if request.user.is_staff or request.user in users%}
        <td>{{ genre.problem }}</td>
        {% elif now > contest.start %}
        <td>{{ genre.answer }} / {{ genre.problem }}</td>
        {% endif %}
        {% if now > contest.end %}
        <td>{{ genre.point }} / {{ genre.total }}</td>
        {% endif %}
        {% if request.user in users %}
        {% if now > contest.end %}
        <td>
            <a class="btn btn-primary" href="{% url 'scan.views.marks.index' contest.id contest.id %}">{% trans '採点' %}</a>
        </td>
        {% else %}
        <td>
            <a class="btn btn-primary" href="{% url 'scan.views.problems.index' contest.id genre.id %}">{% trans '問題設定' %}</a>
        </td>
        {% endif %}
        {% else %}
        {% if now > contest.start %}
        <td>
            <a class="btn btn-primary" href="{% url 'scan.views.contests.problem' contest.id contest.id %}">{% trans '進む' %}</a>
        </td>
        {% else %}
        <td></td>
        {% endif %}
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endblock %}
