{% extends 'template.html' %}
{% load url from future %}
{% load i18n %}

{% block main %}
<h2>{{ contest.name }}</h2>
<table class="table table-striped">
    <tr>
        <th>{% trans "ジャンル" %}</th>
        <th></th>
    </tr>
    {% for genre in genres %}
    <tr>
        <td>{{ genre.name }}</td>
        {% if request.user.is_staff or request.user in users %}
        <td>
            <a href="{% url 'scan.views.problems.index' contest.id genre.id %}">{% trans "問題設定" %}</a>
        </td>
        {% else %}
        <td>
            <a href="{% url 'scan.views.contests.problem' contest.id genre.id %}">{% trans "進む" %}</a>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endblock %}
