{% extends 'template.html' %}
{% load url from future %}
{% load i18n %}

{% block main %}
<h2>{{ contest.name }}: {{ genre.name }}</h2>
<div class="problem">
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="statement">
            {% if answer.point %}
            <div class="pull-right">
                <p class="result">{% trans '得点' %}: {{ answer.point }} / {{ problem.point }}</p>
            </div>
            {% endif %}
            <p>Q{{ problem_id|add:"1" }}: {{ field.label }}</p>
            <pre>{{ field.help_text }}</pre>
        </div>
        {% if figures|length > 0 %}
        <div class="figures">
            <ul id="figure-list" class="clearfix">
                {% for figure in figures %}
                <li>
                    <figure>
                        <img src="{{ figure.graphics.url }}" alt="{{ figure.caption }}" />
                        <figcaption>{{ figure.caption }}</figcaption>
                    </figure>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div class="answer">
            {% if field.errors %}
            {{ field.errors }}
            {% endif %}
            {{ field }}
        </div>
        {% endfor %}
        <div class="pagination">
            <ul>
                {% ifequal problem_id 0 %}
                <li class="disabled"><a href="#">&#171;</a></li>
                {% else %}
                <li><a href="{% url 'scan.views.contests.answer' contest.id genre.id problem_id|add:"-1" %}">&#171;</a></li>
                {% endifequal %}
                {% for prob_id in problems_id %}
                {% ifequal prob_id problem_id %}
                <li class="disabled"><a href="#">{{ prob_id|add:"1" }}</a></li>
                {% else %}
                <li><a href="{% url 'scan.views.contests.answer' contest.id genre.id prob_id %}">{{ prob_id|add:"1" }}</a></li>
                {% endifequal %}
                {% endfor %}
                {% ifequal problem_id|add:"1" problems_id|length %}
                <li class="disabled"><a href="#">&#187;</a></li>
                {% else %}
                <li><a href="{% url 'scan.views.contests.answer' contest.id genre.id problem_id|add:"1" %}">&#187;</a></li>
                {% endifequal %}
            </ul>
        </div>
        <div class="button">
            <a href="{% url 'scan.views.contests.problem' contest.id genre.id %}" class="btn">{% trans '戻る' %}</a>
        </div>
    </form>
</div>
{% endblock %}
