{% extends 'template.html' %}
{% load url from future %}
{% load i18n %}

{% block main %}
{% if form.errors %}
<div class="alert alert-error">{% trans 'ログインに失敗しました。' %}</div>
{% endif %}
<form method="post">
    {% csrf_token %}
    <table class="form">
        <tr>
            <th>{{ form.username.label_tag }}</th>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <th>{{ form.password.label_tag }}</th>
            <td>{{ form.password }}</td>
        </tr>
        <tr>
            <th></th>
            <td>
                <input type="submit" class="btn btn-primary" value="{% trans 'ログイン' %}" />
            </td>
        </tr>
    </table>
    <input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock %}
